h1 {
  text-align: center;
}
form {
  display: flex;
  border: solid thin;
  background-color: aliceblue;
  padding: 1rem;
  margin: 0 15vw;
}

input {
  margin-right: 1rem;
  margin-left: 0.3rem;
}

#newToDo {
  flex-grow: 10;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
ul {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-inline-start: 0;
  margin: 0 15vw;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: inherit;
  padding: 1rem;
  border: solid thin;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}

li.low {
  color: green;
}

li.high {
  color: red;

}

.icon {
  width: 1rem;
  height: 1rem;
  border-radius: 100px;
  display: inline-block;
  margin-left: 1rem;
}

.icon.delete:hover {
  cursor: pointer;
}

div.high {
  background-color: red;
}

div.low {
  background-color: green;
}

.checked {
  text-decoration: line-through;
}

/* li img {
height: 1rem;
margin-right: 1rem;
}

li button {
background-color: white;


} */
